/*@import'reset.css';*/
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

html, body {
    height : 100%;
    font-family: 'Rubik', sans-serif;
}

body{
    width: 600px;
    margin : 0 auto;

}

header, main, footer {
    background-color: darkkhaki;
    padding: 1em;
}
main {
    background-color: #a69c21;
}
header {
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}
footer{
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;

}
/* les boutons */
.btn{
    display: block;
    border-radius :1em;
    padding: 1em;
    background-color: rgb(158, 146, 170);
    text-align : center;
    text-decoration : none;
    color: rgb(170, 185, 166);
    font-weight : bold;
    text-transform: uppercase;
    font-size: 1.2em;

}
.btn.clicked{
    border: solid 1px orangered;
    color : orangered;

}
.btn:hover{
    background-color: rgb(169, 218, 218);
}